<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <header>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    </header>
</body>
</html>